$body-font-family: "Montserrat";
$title-font: "Montserrat";

html,
body {
  font-family: "Montserrat", sans-serif;
}

.v-application {
  font-family: $body-font-family, sans-serif !important;
  .title {
    // To pin point specific classes of some components
    font-family: $title-font, sans-serif !important;
  }
}
